<div>
  <div *ngIf="afAuth.authState | async; let user; else showLogin">

    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="{{user.photoURL}}" alt="perfil">
      </a>
    </div>
    <h1>Bem vindo {{ user.displayName }}!</h1>
    <button class="btn btn-primary" (click)="logout()">Sair</button>
  </div>
</div>
<ng-template #showLogin>
  <div class="row">
    <div class="col-md-12">

      <p>Por favor autentique:</p>
      <button class="btn btn-primary" (click)="login()">Entrar via Github</button>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="loginEmail()" #formularioAutenticacao="ngForm" name="formularioAutenticacao">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" #email="ngModel" class="form-control" id="email" [(ngModel)]="usuarioAtual.email"
            placeholder="Email">
        </div>
        <div class="form-group">
          <label for="senha">Senha</label>
          <input type="password" class="form-control" name="senha" #senha="ngModel" class="form-control" id="senha" [(ngModel)]="usuarioAtual.senha"
            placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Entrar</button>
        <button type="button" class="btn btn-default" (click)="emailSignUp()">Cadastrar</button>
        <button type="button" class="btn btn-default" (click)="resetarEmail()">Resetar senha</button>
      </form>
    </div>
  </div>
</ng-template>
